// ==========================================================================
// Colours
// ==========================================================================
$nvBlack: #141414;
$nvGreen: #37f49d;
$nvGreenDark: #33df8e;
$nvWhite: #F2F2F2;
$nvBlue: #6093ae;

// ==========================================================================
// Base Layout
// ==========================================================================
$nvBaseUnit: 8px;
$maxWidth: 1224px;
$minWidth: 320px;